*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: #314659;
  font-size: 14px;
  background: #f3f4f8;
  transition: background 1s cubic-bezier(.075, .82, .165, 1);
  overflow: hidden;
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}

ol,
ul {
  list-style: none
}

a {
  -webkit-transition: color .3s ease;
  transition: color .3s ease
}

textarea {
  font-family: Arial;
}